[submodule "barebones"]
	path = barebones
	url = /Applications/mamp/htdocs/barebones-wp/wordpress/wp-content/themes/barebones
[submodule "wp-content/plugins/woocommerce"]
	path = wp-content/plugins/woocommerce
	url = https://github.com/woothemes/woocommerce.git
[submodule "wp-content/plugins/wp-e-commerce"]
	path = wp-content/plugins/wp-e-commerce
	url = https://github.com/wp-e-commerce/WP-e-Commerce.git
[submodule "wp-content/plugins/megamenu"]
	path = wp-content/plugins/megamenu
	url = https://github.com/wp-plugins/megamenu.git
